<!DOCTYPE HTML>
{% extends 'index.html' %}
<html>

<body>
	{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="header">
			<p> AUTOMATOS FINITOS </p>
		</div>

		<div class="card" style="width: 100%">
			<div class="card-header">
				<span style="text-align: left">Leitura de Automato Finito</span>
			</div>
			<div class="card-body">
				<form enctype="multipart/form-data" method="post" action="{% url 'upload_file' %}">
					{% csrf_token %}
					<input type="file" name="afFile" id="afFile">
					<input type="submit" value="Read File">
					<br>
				</form>

				<form method="POST" action="{% url 'update_af_file' %}">
					{% csrf_token %}
					{% if file_content %}
						<textarea cols="40" rows="20" name="afContent" id="afContent">{{ file_content }}</textarea>
					{% else %}
						{{ form }}
					{% endif %}
					<br>
					<input value="Atualizar Texto" type="submit" />

					<br>
					<a href="{% url 'download_file' %}" class="btn btn-primary" download>Download</a>
				</form>
			</div>
		</div>
	</div>

	{% endblock %}

</body>

</html>