<!DOCTYPE HTML>
{% extends 'index.html' %}
<html>

<body>
	{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="header">
			<p> AUTOMATOS FINITOS </p>
		</div>

		<div class="card" style="width: 100%">
			<div class="card-header">
				<span style="text-align: left">Leitura de Automato Finito</span>
			</div>
			<div class="card-body">
				<form enctype="multipart/form-data" method="post" action="{% url 'file_upload' %}">
					{% csrf_token %}
					<input type="file" name="afFile" id="afFile">
					<input type="submit" value="Read File">
					<br>
				</form>
				{% if content.AFstring %}
				<textarea cols="50" rows="6" id="afTEXTAREA" readonly>{{content.AFstring}}</textarea>
				{% endif %}
			</div>
			</form>

		</div>
	</div>
	{% endblock %}

</body>

</html>