<!DOCTYPE HTML>
{% extends 'index.html' %}
<html>

<body>
	{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="header">
			<p>{% block title %} TIPO {% endblock title %}</p>
		</div>

		<div class="card">
			<div class="card-header">
				<span style="text-align: left">{% block header-text %}Leitura de Tipo{% endblock header-text %}</span>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="column">
						{% block form1 %}
					<form enctype="multipart/form-data" method="POST" action="{% url 'upload_method' %}">
					{% endblock form1 %}
					{% csrf_token %}
					{% block choose-file %}<input type="file" name="file-type" id="file-type">{% endblock choose-file %}
					<!--	esse bloco, tal como o de atualização, pode ser desnecessário					-->
					{% block read-button %}
						<input type="submit" value="Ler arquivo" name="option">
					{% endblock read-button %}
					{% if error1 %}
						<li class="error">{{ error1 }}</li>
					{% endif %}
					{% if error2 %}
						<li class="error">{{ error2 }}</li>
					{% endif %}
					<br>
					{% csrf_token %}
					{% if file_content %}
						{% block text-area %}textarea{% endblock text-area %}
					{% else %}
						{% block load_specific_form %}
						{{ form }}
						{% endblock load_specific_form %}
					{% endif %}
					<br>
					{% block update-option %}
						<input type="submit" value="Atualizar" name="option"/>
					{% endblock update-option %}
					{% block download %}
						<button formaction="{% url 'method' %}">Download</button>
					{% endblock download %}
					{% block convert %}
						<button formaction="{% url 'method' %}">Convert to</button>
					{% endblock convert %}
					{% if is_afnd %}
						{% block determinize %}
							<button formaction="{% url 'method' %}">Determinize</button>
						{% endblock determinize %}
					{% endif %}

					</div>
                    <div class="column">
						<h6>Reconhecimento de Sentenças</h6>
						<br>
						{% if error3 %}
						<li class="error">{{ error3 }}</li>
						{% endif %}
						<textarea cols="60" rows="15" name="text_recognize" id="text_recognize">{{ text_recognize }}</textarea>
						<br>
						{% block parse %}
						<button formaction="{% url 'method' %}">Parse Grammar</button>
						{% endblock parse %}
						<br>
						{{ msg }}
						
                    </div>

				</div>
				</form>

				<div class="af">
					{% block visualize-infos %}
					{% endblock visualize-infos %}
				</div>
			</div>
		</div>


	</div>

	{% endblock body%}

</body>

</html>