{% extends 'base.html' %}
{% block title %}
	EXPRESSÕES REGULARES
{% endblock title %}
{% block header-text %}
	Leitura de Expressões Regulares
{% endblock header-text %}
{% block form1 %}
	<form enctype="multipart/form-data" method="POST" action="{% url 'options_er' %}">
{% endblock form1 %}
{% block choose-file %}
	<input type="file" name="erFile" id="erFile">
{% endblock choose-file %}
{% block text-area %}
	<textarea cols="40" rows="20" name="file_content" id="file_content">{{ file_content }}</textarea>
{% endblock text-area %}
{% block update-option %}
	<input type="submit" value="Atualizar ER" name="option"/>
{% endblock update-option %}
{% block download %}
    <form>
		  <button formaction="{% url 'download_er' %}">Download</button>
    </form>
{% endblock download %}
