<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	{% block head %}
	<title>Ling. Formais 2020.2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<!-- VIS.JS -->
	<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
	{% endblock %}
</head>

<body>

	<!-- Side navigation -->
	<div class="sidenav">
		<a href="/">Home</a>
		<a href="/af">Automatos Finitos</a>
		<a href="/gr">Gramáticas</a>
		<a href="/er">Expressões regulares</a>
		<a href="/al">Analisador Léxico</a>
	</div>

	{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="header">
			<p> WELCOME TO LINGUAGENS FORMAIS</p>
		</div>

		<div class="card">
			<div class="container">
				<h4><b><a href="/af"> Automatos Finitos </a></b></h4>
				<p>Um autômato finito determinístico — também chamado máquina de estados finita determinística (AFD) — é uma Máquina de estados finita que aceita ou rejeita cadeias de símbolos gerando um único ramo de computação para cada cadeia de entrada.</p>
			</div>
		</div>

		<div class="card">
			<div class="container">
				<h4><b><a href="/gr"> Gramaticas </a></b></h4>
				<p>Em teoria das linguagens formais, uma gramática formal (algumas vezes simplesmente chamada de gramática) é um conjunto de regras de produção de cadeias em uma linguagem formal, ou seja, um objeto que permite especificar uma linguagem ou língua. </p>
			</div>
		</div>

		<div class="card">
			<div class="container">
				<h4><b><a href="/er"> Expressões Regulares </a></b></h4>
				<p>Em ciência da computação, uma expressão regular ou "Regex" (abreviação do inglês regular expression) provê uma forma concisa e flexível de identificar cadeias de caracteres de interesse, como caracteres particulares, palavras ou padrões de caracteres.</p>
			</div>
		</div>
	</div>
	{% endblock %}

</body>

</html>