<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	{% block head %}
	<title>Ling. Formais 2020.2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	{% endblock %}
</head>

<body>

	<!-- Side navigation -->
	<div class="sidenav">
		<a href="/">Home</a>
		<a href="/af">Automatos Finitos</a>
		<a href="/gr">Gramáticas</a>
		<a href="/er">Expressões regulares</a>
	</div>

	{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="header">
			<p> WELCOME TO LINGUAGENS FORMAIS</p>
		</div>

		<div class="card">
			<div class="container">
				<h4><b>Automatos Finitos</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div>

		<div class="card">
			<div class="container">
				<h4><b>Gramaticas</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div>

		<div class="card">
			<div class="container">
				<h4><b>Expressões Regulares</b></h4>
				<p>Architect & Engineer</p>
			</div>
		</div>
	</div>
	{% endblock %}

</body>

</html>